*{
    margin: 5px;
    padding: 5px;
}
body{
    background-color: black;
    color: blanchedalmond;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}