:root {
  --cpcol: black;
  --cpbgcol: #202022;
  --color: #6f7a85;
  --colw: #fff;
  --colborder: #434a52;
}
.password-body {
  height: 1000px;
  background: var(--cpbgcol); /*url(../../assets/img/star-sky.jpg);*/
  background-size: cover;
  height: 90vh;
  position: relative;
}

.password-body form {
  background: none;
  max-width: 320px;
  width: 90%;
  background-color: var(--cpcol);
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  /* color:var(--colw); */
  box-shadow: 3px 3px 4px var(--cpcol);
}
/* input{
    background: none;
  } */

.form-control {
  background: none;
  border: 1px;
}
.form-control:focus{
  background-color: var(--cpcol);
  border-color: none;
  box-shadow: none;
  color: white;
}
.form-label {
  margin-top: .5rem;
  margin-bottom: 0;
}
.password-body .illustration {
  background: none;
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: var(--colw);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.old {
  background: none;
  border: none;
  border-bottom: 1px solid var(--colborder);
  border-radius: 0;
  box-shadow: none;
  outline: none;
  /* color:inherit; */
  color: var(--colw) !important;
}
.btn-secondary {
  margin-top: 20px;
}
.password-body form .btn-secondary {
  background: var(--colw);
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
  color: var(--cpcol);
}

.password-body form .btn-secondary:hover,
.password-body form .btn-secondary:active {
  background: var(--colborder);
  outline: none;
  color: white;
}

.password-body form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: var(--color);
  opacity: 0.9;
  text-decoration: none;
}

.password-body form .forgot:hover,
.password-body form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.password-body form .btn-secondary:active {
  transform: translateY(1px);
}
