:root {
  --cpcol: black;
  --cpbgcol: #202022;
  --cpcolor: #6f7a85;
  --cpcolw: #fff;
  --cpcolborder: #434a52;
}
.password-body {
  display: flex;
  justify-content: center;
}

.password-body form {
  margin: 10vh auto;
  color: var(--cpcoltable);
  background: none;
  max-width: 320px;
  width: 90%;
  background-color: var(--col1);
  padding: 40px;
  border-radius: 4px;
  position: relative;
}

.form-control {
  background-color: var(--col1);
  border: 1px;
}
.form-control:focus {
  background-color: var(--col1);
  border-color: none;
  box-shadow: none;
  color: var(--cpcoltable);
  caret-color: var(--cpcoltable);
}
.form-label {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.password-body .illustration {
  background: none;
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: var(--textcolor);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.old {
  margin-bottom: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--textcolor);
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: var(--textcolor) !important;
}
.btn-secondary {
  margin-top: 20px;
}
.password-body form .btn-secondary {
  background: var(--bgcol);
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
  color: var(--cpcolor);
}

.password-body form .btn-secondary:hover,
.password-body form .btn-secondary:active {
  background: var(--cpcolborder);
  outline: none;
  color: white;
}

.password-body form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: var(--cpcolor);
  opacity: 0.9;
  text-decoration: none;
}

.password-body form .forgot:hover,
.password-body form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.password-body form .btn-secondary:active {
  transform: translateY(1px);
}
