@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&family=Raleway:wght@400;600;900&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  list-style: none;
  /* transition: all 0.5s ease; */
}
:root {
  --col: #b6b1b1;
  --bgcol: #202022;
  --col1: #3e3f3f;
}

/*---------- Header Nav ---------*/

.header{
  position: relative;
}

h2 {
  margin-right: 50px;
}
.title1 {
  color: var(--col);
  display: flex;
  flex-direction: row;
  flex: 3;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: var(--col1);
  text-align: center;
  margin: 0;
}
.logo {
  height: 9vh;
  margin: 0px 5px;
  max-height: 80px;
}

.btn {
  display: inline-block;
  margin-right: 25px;
  padding: 7px 10px;
  color: var(--col);
  background: var(--bgcol);
  border-radius: 7px;
  border: none;
}
/* .btn:hover {
  background: var(--col);
  color: var(--bgcol);
  border: 2px solid var(--bgcol);
  transition: 0.5s;
} */
.sidebar-btn {
  color: var(--col);
  margin: 3% 2%;
  cursor: pointer;
}
.sidebar-btn:hover {
  color: #ffffff;
}

/* -------Header nav end-------- */ /* --------Side Nav ------------ */
.side-bar {
  height: 90vh;
  width: fit-content;
  left: -300px;
  position: absolute;
  z-index: 1;
   overflow: auto; 
  transition: 0.5s;
  background: var(--bgcol);
}
.sidebar-menu {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--bgcol);
  padding: 10px 15px 25px 10px;
  transition: 0.5s;
}
.items-menu{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;

}
.items {
  display: flex;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 20px;
  color: var(--col);
}
.nav-items {
  padding-left: 2%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items:hover {
  background-color: var(--col1);
  border-radius: 5px;
  border-left: 2px solid var(--col);
  border-right: 2px solid var(--col);
  transition: 0.5s;
}
.nav-icon {
  /* display: inline-block; */
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}
a {
  color: var(--col);
  transition: 0.5s;
}
.profile {
  /* width: 100px;
  height: 100px; */
  text-align: center;
  border-radius: 50%;
  margin: 20px auto;
}
.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}
.log-btn {
  display: flex;
  margin-right: 25px;
  padding: 7px 10px;
  color: var(--col);
  background: var(--bgcol);
  border-radius: 7px;
  border: none;
  align-items: center;
  width: fit-content;
  margin: 5px auto;
  display: none;
}
.log-btn:hover {
  background: var(--col);
  color: var(--bgcol);
  border: 2px solid var(--bgcol);
  transition: 0.5s;
}
/* Responsiveness */
@media (max-width: 430px) {
  body {
    font-size: 80%;
  }
  .logo {
    max-width: 65%;
  }
  .sidebar-menu,
  .items {
    padding: 7px 7px 7px 10px;
    width: 100%;
  }
  .items {
    text-align: center;
  }
  .nav-icon {
    display: block;
    padding-bottom: 5px;
  }
  .log-btn {
    margin: 15px auto;
    display: block;
  }
  .btn {
    display: none;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 80%;
  }
  .logo {
    max-width: 85%;
  }
}





body {
    
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #b6b1b1;
}
.student-profile .card {
    border-radius: 10px;
}
.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}
.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}
.student-profile .card p {
    font-size: 16px;
    color: #b6b1b1;
}
.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #b6b1b1;
}
#card{
    background: #3e3f3f;
}
#student-profile{
    background: var(--bgcol);
}
a:hover{
  text-decoration: none;
  /* color: #3e3f3f; */
  color:var(--col);
}




::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
