/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

/*===== VARIABLES CSS =====*/
:root{
  /*===== Colores =====*/

  --first-color: #117d38;
  --input-color: #80868B;
  --border-color: #DADCE0;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;
  --custom-color: #eaffd6;
}

  
/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.all{
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    /* background-image: url("hbtu.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.opacity{
    padding: 0 0 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background-color: #0000006c;
}
.title{
  position: relative;
  font-size: 4rem;
  margin: 3%;
  opacity: 0;
  animation: reveal-title 0.5s ease-out 0.5s 1 forwards;
}
.title .image{
  height: 200px;
}

@keyframes reveal-title {
  0%{
    opacity: 0%;
    left: 300px;
  }
  97%{
    opacity: 97%;
    left: 0px;
  }
  100%{
    opacity: 100%;
    left: 10px;
  }
}

.mobile-title{
    font-size: 2rem;
    margin: 3%;
}

h1{
  margin: 0;
}
.l-form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6%;
  height: calc(var(--vh, 1vh) * 100);
  opacity: 0;
  animation: reveal 0.5s ease-out 0.5s 1 forwards;
} 
@keyframes reveal {
  0%{
    opacity: 0%;
    left: -300px;
  }
  97%{
    opacity: 97%;
    left: 0px;
  }
  100%{
    opacity: 100%;
    left: -10px;
  }
}
.form{
  position: relative;
  display: flex;
  flex-direction: column;
  width:360px;
  padding:4rem 2rem;
  border-radius: 1rem;
  background: linear-gradient(135deg , #eaffd6, #c8ff93);
  box-shadow: 0 10px 25px rgba(92,99,105,.2);
}
.form__title{
  font-weight:500;
  margin-bottom:3rem;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #577d11;
}
.form_div{
  position: relative;
  height:48px;
  margin-bottom:1.5rem;
}
.form__input{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  font-size:var(--normal-font-size);
  border:1px solid #117d38;
  border-radius: .5rem;
  outline:none;
  padding:1rem;
  background:none;
  z-index: 1;
}
.form__label{
  position: absolute;
  left:1rem;
  top:1rem;
  padding:0 .25rem;
  background: #e0ffbb;
  color:var(--input-color);
  font-size:var(--normal-font-size);
  transition: .3s;
}
.forgot{
    position: relative;
    margin: 20px 0;
    color:rgb(46, 172, 255);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;

}
.form__button{
  display: block;
  padding:.75rem 2rem;
  outline:none;
  border: 1px solid #117d38;
  background-color: #117d38;
  color:#fff;
  font-size:var(--normal-font-size);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
}
.form__button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
  background-color: #117d3900;
  color: #117d38;
  border: 1px solid #117d38;
}
.form__input:focus + .form__label{
  top:-.5rem;
  left:.8rem;
  color:var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
  top:-.5rem;
  left:.8rem;
  color:var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
.bottom{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-title{
  display: none;
  position: absolute;
}
.mobile-image{
 height: 60px;     
}
.form__input:focus{
  border:1.5px solid #117d38;
}
.eye{
  z-index: 1;
  cursor: pointer;
  width: 20px;
  position: relative;
  align-self: flex-end;
  color: #117d38;
  top: -33px;
  left: -15px;
}
.form-pass{
  margin-bottom: 0;
}
.error{
  animation: hide-after 1s ease-in 7s 1 forwards !important; 
}
@keyframes hide-after {
  0%{
    opacity: 100%;
    display: block;
  }
  99%{
    opacity: 0%;
    display: block;
  }
  100%{
    opacity: 0%;
    display: none;
  }
}
.rstpwdStatus{
  position: absolute;
  animation: hide-after 1s ease-in 7s 1 forwards !important; 
  bottom: 15px;
}
.resetpwdwindow{
  font-family: "raleway";
}
.rstpwdusernameinput{
  padding-top: 3vh;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
}
.rstpwdusernameinput .rstpwdheading1{
  font-size: 20px;
  margin: 10px 0px;
}
.rstpwdusernameinput input{
  width: 100%;
  height: 30px;
  line-height: 20px;
  font-size: 20px;
  text-align: left;
  background: none;
  border: none;
  border-bottom: 2px solid darkgreen;
  margin-bottom: 20px;
}
.rstpwdusernameinput input:focus-visible{
  border: none;
  outline: none;
  border-bottom: 2px solid darkgreen;
}
.rstpwdusernameinput button{
  font-size: 15px;
  padding: 10px;
  border-radius: 3px;
  background-color: darkgreen;
  color: white;
  border: none;
  transition: 0.4s;
}
.rstpwdusernameinput button:hover{
  background: #577d11;
}
.rstpwdOtp{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh 0px;
}
.rstpwdOtp .otpinput{
  margin: 3vh 1vh;
}
.rstpwdOtp .otpinput input{
  padding: 1vh;
  width: 4vh !important;
  font-size: 2.5vh;
}
.rstpwdOtp .OTPmessage2 span{
  font-weight: 600;
  text-decoration: underline;
}
.rstpwdOtp .OTPmessage a{
  color: darkblue;
  font-family: sans-serif;
}
.rstpwdchange form{
  margin: 0 !important;
  background: none !important;
  color: black !important;
  width: 100% !important;
  max-width: none !important;
  padding: 3vh 5vw !important;
}
.rstpwdchange .form-control{
  background: none !important;
  color: black !important;
  caret-color: black !important;
  border-radius: 0;
}
.rstpwdchange .form-group{
  margin: 10px 0px;
}
.rstpwdchange form .btn-secondary{
  background-color: #117d38 !important;
  color: white !important;
}
.rstpwdchange form .btn-secondary:hover{
  background-color: #033a17 !important;
  color: white !important;
}
.rstpwdchange .pwd_info_content {
  top: 60px !important;
  left: 10vw !important;
}
@media screen and (max-width: 920px) {
    .all{
      height: calc(var(--vh, 1vh) * 100);
    }
    .opacity {
      height: calc(var(--vh, 1vh) * 100);
      flex-direction: column;
    }
    .title{
        display: none;
        position: absolute;
    }
    .mobile-title{
        margin-top: -40px;
        text-align: center;
        display: flex;
        position: relative;
        opacity: 0%;
        animation: reveal 0.4s ease-out 0.5s 1 forwards;
    }
    .mobile-title h1{
      
      padding-left: 20px;
      font-size: 3rem;
      font-weight: bold;
      text-shadow: 0 0 20px rgb(0, 0, 0);
    }
    
    .l-form{
      height: calc(var(--vh, 1vh) * 100);
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 0;
      width: 100vw;
      animation: none;
      opacity: 100%;
    }
    .opacity{
      padding: 0;
      background-color: #000000b8;
    }
    .form{
      margin-top: -70px;
      opacity: 0%;
      animation: reveal 0.3s ease-out 0.5s 1 forwards;
    }
    @keyframes reveal {
      0%{
        opacity: 0%;
        top: -300px;
      }
      97%{
        opacity: 97%;
        top: 0px;
      }
      100%{
        opacity: 100%;
        top: -10px;
      }
    }
    .form__button:hover{
      box-shadow: none;
      background-color: #117d38;
      color:#fff;
    }
  }
@media screen and (max-width: 400px){
  .form{
    width: 90vw;
  }
  .mobile-image{
    height: 16vw;
  }
  .mobile-title h1{
    font-size: 14vw;
  }
}
@media screen and (max-width: 320px){
  .bottom{
    flex-direction: row;
    justify-content: center;
  }
}



.loadergrid {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap; }

.loaderanimation {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  border: 1px solid mistyrose;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }


#ld2 {
  display: flex;
  flex-direction: row; }
  #ld2 div {
    height: 20px;
    width: 5px;
    background: #FE4A49;
    margin: 3px;
    border-radius: 25px; }
  #ld2 div:nth-child(1) {
    animation: ld2 1s ease-in-out infinite 0s; }
  #ld2 div:nth-child(2) {
    animation: ld2 1s ease-in-out infinite 0.1s; }
  #ld2 div:nth-child(3) {
    animation: ld2 1s ease-in-out infinite 0.2s; }
  #ld2 div:nth-child(4) {
    animation: ld2 1s ease-in-out infinite 0.3s; }
  #ld2 div:nth-child(5) {
    animation: ld2 1s ease-in-out infinite 0.4s; }
  #ld2 div:nth-child(6) {
    animation: ld2 1s ease-in-out infinite 0.5s; }
  #ld2 div:nth-child(7) {
    animation: ld2 1s ease-in-out infinite 0.6s; }

@keyframes ld2 {
  0% {
    transform: scaleY(1);
    background: #FED766; }
  25% {
    background: #009FB7; }
  50% {
    transform: scaleY(2);
    background: #59CD90; }
  75% {
    background: #FE4A49; }
  100% {
    transform: scaleY(1);
    background: #D91E36; } 
  }

@media screen  and (max-width: 340px) and (max-aspect-ratio: 13/9) {
  .resetpwdwindow{
    width: 100vw !important;
    min-width: 0px !important;
  }
}
@media screen  and (max-height: 530px) and (min-aspect-ratio: 13/9) {
  .mobile-title{
    display: none;
  }
  .l-form{
    top: 10vh;
  }
}
@media screen  and (max-width: 320px) and (max-aspect-ratio: 13/9) {
  .form__button{
    padding: 10px !important;
  }
}
@media screen  and (max-width: 275px) and (max-aspect-ratio: 13/9) {
  .form{
    width: 100vw;
    padding: 10px !important;
  }
  .bottom{
    justify-content: space-around;
  }
}
@media screen and (max-height: 600px) and (max-aspect-ratio: 13/9) {
  .form{
    height: calc(var(--vh, 1vh) * 60);
    padding: calc(var(--vh, 1vh) * 5);
  }
  .form__title{
    margin-bottom: 25px;
  }
}
@media screen and (max-height: 500px) and (max-aspect-ratio: 13/9){
  .mobile-title{
    display: none;
  }
  .l-form{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    top: calc(var(--vh, 1vh) * 10);

  }
  .form{
    position: relative;
    height: calc(var(--vh, 1vh) * 70);
  }
  .forgot{
    margin: 5px;
  }
}
@media screen and (max-height: 500px) and (max-aspect-ratio: 13/9) {
  
  .form{
    position: relative;
    height: calc(var(--vh, 1vh) * 80);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form div{
    width: 100%;
  }
}
@media screen and (max-height: 200px) and (max-aspect-ratio: 13/9) {
  .form{
    position: relative;
    height: calc(var(--vh, 1vh) * 100);
    top: calc(var(--vh, 1vh) * 10);;
  }
}
@media screen and (max-height: 560px) and (max-aspect-ratio: 13/9) {
  .error{
    position: fixed !important;
    top: 5px !important;
    left: -2.5vw !important;
    width: 95vw !important;
    background-color: rgb(228, 224, 179) !important;
    border-radius: 3px !important;
    padding: 4px !important;
  }
}
@media screen and (max-height: 480px) and (max-aspect-ratio: 13/9) {
  .resetpwdwindow{
    height: calc(var(--vh, 1vh) * 80) !important;
  }
}