* {box-sizing: border-box}
.studentregistration{
    padding-top: 20px;
    padding-bottom: 20px;
}
.studentregistration .container {
    width: 70vw;
  margin: auto;
  background-color: var(--col1);
  margin-top: 40px;
  margin-bottom: 50px;
}
.studentregistration .col-md-6{
    min-width: 210px !important;
}
.studentregistration input[type=text], .studentregistration input[type=password], .studentregistration input[type=email], .studentregistration input[type=tel] {
  
  width: 100%;
  /* padding: 15px; */
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: none;
  border-bottom: 1px solid var(--textcolor);
  /* background: #f1f1f1; */
  /* background-color: blue; */
}
.studentregistration hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  .studentregistration input[type=text]:focus, .studentregistration input[type=password]:focus, .studentregistration input[type=tel]:focus, .studentregistration input[type=email]:focus {
  /* background-color: #ddd; */
  /* background-color: palevioletred; */
  background: none;
  border-bottom: 1px solid var(--textcolor);
  outline: none;
}
/* 
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
} */

.studentregistration .btn-primary {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.studentregistration .btn .btn-primary {
  opacity:1;
}
.studentregistration .btn{
  line-height: 50%;
}
.studentregistration .btn-primary:active{
transform: translateY(1px);
}

.studentregistration .btn-primary:hover,
.studentregistration .btn-primary:active {
  background: var(--cpcolborder);
  outline: none;
  color: white;
}
.btn-primary {
  margin-top: 20px;
}
.studentregistration .btn-primary {
  background: var(--bgcol);
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
  color: var(--cpcolor);
}
/* a {
  color: dodgerblue;
} */

/* .signin {
  background-color: #f1f1f1;
  text-align: center;
} */
