:root{
  --selectcol:#85bad761;
  --tabcolor:#85bad761;
  --col1: #3e3f3f;
  --textcolor: #b6b1b1;
}

.student-registration{
  height: 100%;
  font-family: "raleway";
  color: var(--cpcoltable);
  padding-bottom: 10vh;  
}
.student-registration h2{
  font-weight: 600;
}
.student-registration .form-main-heading h1{
  font-weight: 100;
  font-family: "raleway";
  text-align: center;
  padding:5px 0px;
}
.form-body{
background-color: var(--col1);
justify-content: center;
flex-direction: column;
align-items: center;
}
.student-registration input{
  font-size: medium;
  height: 30px;
  background: none;
  width: 80%;
  border: none;
  border-bottom: 1px solid var(--textcolor);
  color: var(--cpcoltable);
}
.student-registration label{
  font-size: small;
  margin-bottom: 0px !important;
}
.student-registration input:focus{
  border: none;
  outline: none;
  border-bottom: 1px solid var(--textcolor);
  /* background: none; */
}
.student-registration select{
  margin-top: 7px;
  width: 80%;
  border: none;
  outline: none;
  padding: 6px 0px;
  border-radius: 5px;
  color: var(--textcolor);
  border: 1px solid var(--textcolor);
  background:none;
  /* background-color: var(--selectcol); */
}

.student-registration option{
  background-color: var(--sidecol1);
  color: white;
}

.student-registration select:focus{
  outline: none;
  color: var(--cpcoltable);
  border: 1px solid var(--cpcoltable);
}


.imageinputs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restofstudentdetails{
  flex: 1;
  min-width: 480px;
}
.imageinputs input{
  width: 300px !important;
}
.imageinput{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photoinput{
  width: 25%;
  margin-bottom: 40px !important;
  padding: 0% !important;
}
.signinput{
  width: 25%;
  margin-bottom: 40px !important;
  padding: 0% !important;
}
.thumbinput{
  width: 25%;
  margin-bottom: 0px  !important;
  padding: 0% !important;
}
.imagedisplay{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.tabs{
  background-color: var(--sidecol1);
  /* padding: 6px; */
  color: var(--textcolor);
}
.tabs button{
  color: white;
  font-weight: 100;
  font-size:15px;
}
/* .tabs button:focus{
  color: var(--cpcoltable);
} */
.buttons{
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-top: 8px;
  width: 770px;
  height: 50px;
}
/* #Studentdetail:focus{
  background-color: red;
} */



#checkbox1{
  margin: 0px 5px;
  height: 15px;
  width: 15px;
}
.checkbox{
  margin: 15px;
  padding: 0px 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}



.width100{
  width: 100%;
}
.images{
  width: auto !important;
}
.width100 h2{
  margin: 5px 0px;
}
.student-registration .line div{
  width: 100%;
  padding: 8px 0px;
}
.line{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
}
.student-registration input{
  width: 100%;
}
.student-registration select{
  width: 100%;
}
.medflexrow{
  display: flex;
  flex-direction: row;
}









@media screen and (max-width: 1000px){
  .buttons{
    width: 100%;
  }
  .studentdetailscover{
    flex-direction: column;
  }
}
@media screen and (max-width: 770px){
  .medflexrow{
    flex-direction: column;
  }
  .buttons{
    display: flex;
    flex-direction: row;
  }
  .imageinputs{
    flex-direction: column;
  }
  .photoinput{
    width: 100%;
  }
  .signinput{
    width: 100%;
  }
  .thumbinput{
    width: 100%;
  }
  .buttons button{
    height: 50px
  }
  .buttons{
    height: max-content;
  }
}
@media screen and (max-width: 580px){
  .form-body{
    width: 85vw;
  }
  .tabs{
    width: 85vw;
  }
  .restofstudentdetails{
    min-width: 10px;
  }
  .buttons{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    height: max-content;
  }
  .tabs button{
    width: 70vw;
    border-radius: 5px !important;
    height: 50px;
  }
}

.mybutton{
  width: fit-content;
  margin: 2vh 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.savebutton{
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 7px 32px;
  margin: 0px 1vw;
}
.response{
  padding: 5px;
  animation: hide-after 1s ease-in 7s 1 forwards !important; 
  opacity: 80%;
}
