<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Student Portal | HBTU</title>
    
<!--     Favicon -->
    <link rel="icon" type="image/png"  href="https://icon-icons.com/downloadimage.php?id=114945&root=1804/ICO/512/&file=iconfinder-499-student-education-graduate-learning-4212915_114945.ico">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
</head>

<body>
        <div id="app">

        </div>


    <script src="{% static "frontend/main.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/769cd60842.js"></script>
</body>

</html>
